.chatbg {
   position: fixed;
   inset: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 40;
}

.chat {
   position: fixed;
   inset: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 50;
   padding: 16px;
}

.chatroom {
    background-color: white;
    border-radius: 8;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    position: relative;
}