* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   margin: 0 auto;
}

#root {
   width: 1920px;
   margin: 0 auto;
}

a {
   text-decoration: none;
   color: black;
}

ul {
   list-style: none;
}

/* 헤더 */

header .shadow {
   margin: 0 auto;
   box-shadow: 0px -10px 50px 5px rgba(0, 0, 0, 0.25);
   width: 100%;
   height: 120px;
   padding: 20px;
   display: flex;
   justify-content: center;
}

nav {
   max-width: 1616px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   margin-right: 127px;
}

.search {
   display: flex;
   align-items: center;
   min-width: 627px;
   height: 60px;
   border: 1px solid #f0907f;
   border-radius: 30px;
   margin-right: 160px;
}

.search input {
   border: none;
   height: 100%;
   flex: 90%;
   padding-left: 25px;
   border-radius: 30px;
   font-size: 18px;
}

.search button {
   flex: 10%;
   border: none;
   background: none;
   cursor: pointer;
   color: #f0907f;
}

.nav_menu {
   min-width: 365px;
   display: flex;
   justify-content: space-between;
}

.nav_menu li,
.nav_menu a {
   display: flex;
   align-items: center;
}

/* 메인 */

div.main .togo {
   display: flex;
}

.togo div {
   margin: 80px auto;
   width: 500px;
   height: 147px;
   font-family: 'Ghanachocolate', sans-serif;
   font-size: 48px;
   text-align: center;
   line-height: 147px;
   border-radius: 70px;
}

.item {
   margin-top: 60px;
   margin-bottom: 80px;
}

.rental {
   margin-top: 60px;
   margin-bottom: 180px;
}

/* 푸터 */

footer .top {
   height: 50px;
   text-align: center;
   line-height: 50px;
   border-top: 1px solid #f0907f;
   border-bottom: 1px solid #f0907f;
   font-family: 'Ghanachocolate', sans-serif;
   color: #f0907f;
}

footer .middle {
   display: flex;
   justify-content: center;
   padding-bottom: 85px;
   border-bottom: 1px solid #f0907f;
}

.middle div {
   margin-top: 60px;
   margin-right: 580px;
}

.middle .sns {
   display: flex;
   justify-content: space-between;
   width: 144px;
}

.sns li .icon {
   color: #f0907f;
   font-size: 40px;
}

.footer_menu {
   display: flex;
   justify-content: space-between;
   min-width: 662px;
   margin-top: 75px;
   color: #f0907f;
}

.footer_menu ul {
   margin-top: 20px;
}

.footer_menu ul li {
   margin-top: 10px;
}

footer .bottom {
   color: #f0907f;
   padding: 40px 150px 30px;
}

.bottom p {
   margin-bottom: 10px;
}

.bottom p:last-of-type {
   margin-top: 30px;
   margin-bottom: 0;
}

.bottom p:last-of-type span {
   margin-right: 25px;
}
