div.linktab {
   display: flex;
   justify-content: space-between;
   height: 1210px;
}

div.linktab > div:first-of-type {
   background-color: #fff9f6;
   width: 650px;
}

div.css-1ondbrm-MuiTabs-list {
   align-items: center;
}

div.profile {
   padding: 95px 0px 50px;
}

.linktab button.css-1usuzwp-MuiButtonBase-root-MuiTab-root:first-of-type {
   color: black;
   max-width: none;
   padding: 0;
}

.linktab button.css-1usuzwp-MuiButtonBase-root-MuiTab-root:not(:first-of-type) {
   color: black;
   width: 250px;
   font-size: 40px;
   padding: 8px 0;
   margin: 10px;
}

.linktab button.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
   color: black;
   font-weight: bold;
   border-bottom: 5px solid black;
}

/* 상품관리 폼 디자인 */

div.form {
   margin-top: 95px;
   margin-right: 163px;
   overflow: hidden;
}

div.form.itemform {
   overflow-y: scroll;
}

div.form div.css-19kzrtu {
   padding: 0;
   width: 920px;
}

div.form div.css-19kzrtu h1 {
   font-size: 60px;
   font-weight: 500;
   margin-bottom: 90px;
}

div.form .css-1lt5qva-MuiCardContent-root:last-child div,
div.form .css-1lt5qva-MuiCardContent-root:last-child p {
   font-size: 30px;
}

div.form .css-1lt5qva-MuiCardContent-root:last-child span {
   font-size: 20px;
}
