div.linktab {
   display: flex;
   height: 1210px;
}

div.linktab > div:first-of-type {
   background-color: #fff9f6;
   width: 650px;
}

div.css-1ondbrm-MuiTabs-list {
   align-items: center;
}

div.profile {
   padding: 95px 0px 50px;
}

.linktab button.css-1usuzwp-MuiButtonBase-root-MuiTab-root:first-of-type {
   color: black;
   max-width: none;
}

.linktab button.css-1usuzwp-MuiButtonBase-root-MuiTab-root:not(:first-of-type) {
   color: black;
   width: 250px;
   font-size: 40px;
   padding: 8px 0;
   margin: 10px;
}

.linktab button.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
   color: black;
   font-weight: bold;
   border-bottom: 5px solid black;
}

/* 폼 디자인 */
